{% Extends 'partials/layout.njk' %}
{% block content %}
    Hello Html!!!!!!!!!
    <ul>
        {% for item in [1,2,3,4,5] %}
          <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% end block %}