{% extends 'partials/layout.njk' %}
{% block content %}
    {% if(message) %}
        <b>{{message}}</b>
    {% endif %}
    Hello HTML!
    <ul>
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}