{% extends 'partials/layout.njk' %}
{% block content %}
    Hello Html!!!!!!!!!
    <ul>
        {% for user in users %}
          <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}