{% extends 'partials/layout.njk' %}
{% block content %}
<div class="card bg-base-200"> 
    <div class="card-body mx-auto">
        <div class="alert alert-success shadow-lg">
            <div>
                <span>You are logged in! Refresh the page where you wanna login!</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}