{% extends 'partials/layout.njk' %}
{% block content %}
    <form action="/register" method="POST">
        <input type="email" name="email" placeholder="Email">
        {% if(error) %}
            <i>{{error.message}}</i>
        {% endif %}
        <input type="text" name="name" placeholder="Name">
        <input type="submit" value="Register">
    </form>
{% endblock %}